<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timecheck.mapper.UserMapper">

    <select id="selectById" resultType="com.timecheck.model.User">
        SELECT
            USER_ID AS userId,
            USERNAME AS username,
            USER_NAME AS displayName,
            DEPARTMENT AS department,
            TEAM AS team,
            POSITION AS position
        FROM USERS
        WHERE USER_ID = #{userId, jdbcType=BIGINT}
    </select>

    <select id="selectByUsername" resultType="com.timecheck.model.User">
        SELECT
            USER_ID AS userId,
            USERNAME AS username,
            PWD AS pwd,
            USER_NAME AS displayName,
            DEPARTMENT AS department,
            TEAM AS team,
            POSITION AS position
        FROM USERS
        WHERE USERNAME = #{username, jdbcType=VARCHAR}
    </select>

    <select id="existsByUsername" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM USERS
            WHERE USERNAME = #{username, jdbcType=VARCHAR}
        )
    </select>

    <select id="existsByUsernameExcept" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM USERS
            WHERE USERNAME = #{username, jdbcType=VARCHAR}
              AND USER_ID != #{userId, jdbcType=BIGINT}
        )
    </select>

    <update id="updateUser">
        UPDATE USERS
        SET
            USERNAME = #{username, jdbcType=VARCHAR},
            USER_NAME = #{displayName, jdbcType=VARCHAR},
            DEPARTMENT = #{department, jdbcType=VARCHAR},
            TEAM = #{team, jdbcType=VARCHAR},
            POSITION = #{position, jdbcType=VARCHAR},
            <if test="pwd != null">
            PWD = #{pwd, jdbcType=VARCHAR},
            </if>
            UPDATED_AT = datetime('now', 'localtime')
        WHERE USER_ID = #{userId, jdbcType=BIGINT}
    </update>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId" keyColumn="USER_ID">
        INSERT INTO USERS (
            USERNAME,
            PWD,
            USER_NAME,
            DEPARTMENT,
            TEAM,
            POSITION
        ) VALUES (
            #{username, jdbcType=VARCHAR},
            #{pwd, jdbcType=VARCHAR},
            #{displayName, jdbcType=VARCHAR},
            #{department, jdbcType=VARCHAR},
            #{team, jdbcType=VARCHAR},
            #{position, jdbcType=VARCHAR}
        )
    </insert>

</mapper>
